/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.idea
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
.project
.classpath
.DS_Store
.c9/
.settings/
.vscode/*
.history/*
*.launch
*.sublime-workspace
chrome-profiler-events*.json
npm-debug.log
yarn-error.log
testem.log
Thumbs.db
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
